{
    "openapi": "3.0.0",
    "info": {
        "title": "Start API",
        "description": "AgroBozor uchun backend API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://daladan-api.loc/api/v1",
            "description": "Local dev server"
        }
    ],
    "paths": {
        "/ads": {
            "get": {
                "tags": [
                    "Ads"
                ],
                "summary": "Foydalanuvchining e'lonlari ro'yxati",
                "operationId": "0687733bcc5e61deb4c3758eb8a92b74",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Sahifadagi elementlar soni",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "E'lonlar ro'yxati"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/profile/ads": {
            "post": {
                "tags": [
                    "Ads"
                ],
                "summary": "Profil sahifasidan e'lon yaratish",
                "operationId": "db1c9c5dd9d4fef529068d99d6edc72a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "category_id",
                                    "subcategory_id",
                                    "title",
                                    "price",
                                    "quantity"
                                ],
                                "properties": {
                                    "category_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "subcategory_id": {
                                        "type": "integer",
                                        "example": 10
                                    },
                                    "district": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "title": {
                                        "type": "string",
                                        "example": "Olma sotiladi"
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "price": {
                                        "type": "number",
                                        "example": 15000
                                    },
                                    "quantity": {
                                        "type": "number",
                                        "example": 100
                                    },
                                    "quantity_description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "unit": {
                                        "type": "string",
                                        "example": "kg"
                                    },
                                    "delivery_info": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "media[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "E'lon yaratildi"
                    },
                    "422": {
                        "description": "Validatsiya xatosi yoki profil manzili to'ldirilmagan"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/ads/{id}": {
            "get": {
                "tags": [
                    "Ads"
                ],
                "summary": "Bitta e'lonni olish",
                "operationId": "f3f3817a923e7099b2539b6d3d77c742",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "E'lon ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "E'lon topildi"
                    },
                    "404": {
                        "description": "E'lon topilmadi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Ads"
                ],
                "summary": "E'lonni yangilash (JSON yoki form-data, faylsiz holat)",
                "operationId": "32274e4f232597b3e811519e8cf262be",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Yangi sarlavha"
                                    },
                                    "price": {
                                        "type": "number",
                                        "example": 16000
                                    },
                                    "quantity": {
                                        "type": "number",
                                        "example": 80
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "sold",
                                            "deleted"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "E'lon yangilandi"
                    },
                    "404": {
                        "description": "E'lon topilmadi"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Ads"
                ],
                "summary": "E'lonni yangilash (method spoofing: _method=PUT)",
                "operationId": "ecf790857b2c6b212b91f4d0c16b3c4c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "E'lon ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "_method": {
                                        "type": "string",
                                        "example": "PUT"
                                    },
                                    "category_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "subcategory_id": {
                                        "type": "integer",
                                        "example": 10
                                    },
                                    "district": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "title": {
                                        "type": "string",
                                        "example": "Yangi sarlavha"
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "price": {
                                        "type": "number",
                                        "example": 16000
                                    },
                                    "quantity": {
                                        "type": "number",
                                        "example": 80
                                    },
                                    "quantity_description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "unit": {
                                        "type": "string",
                                        "example": "kg"
                                    },
                                    "delivery_info": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "sold",
                                            "deleted"
                                        ]
                                    },
                                    "delete_media_ids[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": 5
                                        }
                                    },
                                    "media[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "E'lon yangilandi"
                    },
                    "404": {
                        "description": "E'lon topilmadi"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Ads"
                ],
                "summary": "E'lonni o'chirish",
                "operationId": "1565fc5db45006f8c1044cf26db8b241",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "E'lon ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "E'lon o'chirildi"
                    },
                    "404": {
                        "description": "E'lon topilmadi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Yangi foydalanuvchini ro'yxatdan o'tkazish (parol yoki telegram)",
                "operationId": "5d4fa5d5607ed675ba93907e1fc94534",
                "parameters": [
                    {
                        "name": "auth_type",
                        "in": "query",
                        "description": "Registratsiya turi: password yoki telegram",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "password",
                            "enum": [
                                "password",
                                "telegram"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone",
                                    "password",
                                    "fname",
                                    "lname",
                                    "region_id",
                                    "city_id"
                                ],
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "example": "+998901234567"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "parol123"
                                    },
                                    "fname": {
                                        "type": "string",
                                        "example": "Ism"
                                    },
                                    "lname": {
                                        "type": "string",
                                        "example": "Familiya"
                                    },
                                    "region_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "city_id": {
                                        "type": "integer",
                                        "example": 10
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "user@example.com",
                                        "nullable": true
                                    },
                                    "telegram": {
                                        "type": "string",
                                        "example": "@username",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Muvaffaqiyatli ro'yxatdan o'tdi, token qaytdi"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Telefon raqam va parol bilan login",
                "operationId": "67d6d0fdd54fba132e1b6f55ca254183",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone",
                                    "password"
                                ],
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "example": "+998901234567"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "parol123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli login, JWT token qaytadi"
                    },
                    "401": {
                        "description": "Telefon raqam yoki parol noto'g'ri"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Tizimdan chiqish",
                "operationId": "28d48c13fca984400ac8de99f54ee13a",
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli logout"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/get-me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Hozirgi foydalanuvchi ma'lumotlari",
                "operationId": "a00bacc3e465758a751ab2ad40ba462c",
                "responses": {
                    "200": {
                        "description": "Foydalanuvchi ma'lumotlari qaytadi"
                    },
                    "401": {
                        "description": "Unauthorized (token yo'q yoki noto'g'ri)"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/refresh": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Tokenni yangilash",
                "operationId": "43a6bea9efa4b685457298ce9505de70",
                "responses": {
                    "200": {
                        "description": "Yangi token qaytadi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/resources/regions": {
            "get": {
                "tags": [
                    "Resources"
                ],
                "summary": "Faol viloyatlar ro'yxati (ichida faol tumanlari bilan)",
                "operationId": "acb00a3f86bbadd29b5cb67ab38fab64",
                "responses": {
                    "200": {
                        "description": "Viloyatlar ro'yxati"
                    }
                }
            }
        },
        "/resources/cities": {
            "get": {
                "tags": [
                    "Resources"
                ],
                "summary": "Faol tumanlar ro'yxati (ixtiyoriy region_id bo'yicha)",
                "operationId": "67d442ec29fc3f032ba6c8b5950348fc",
                "parameters": [
                    {
                        "name": "region_id",
                        "in": "query",
                        "description": "Faqat shu viloyatga tegishli tumanlarni olish uchun",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tumanlar ro'yxati"
                    }
                }
            }
        },
        "/resources/categories": {
            "get": {
                "tags": [
                    "Resources"
                ],
                "summary": "Faol kategoriyalar ro'yxati",
                "operationId": "c66ba976f0f3099f8baf50bf4eb353f5",
                "responses": {
                    "200": {
                        "description": "Kategoriyalar ro'yxati"
                    }
                }
            }
        },
        "/resources/subcategories": {
            "get": {
                "tags": [
                    "Resources"
                ],
                "summary": "Faol subkategoriyalar ro'yxati (category_id bo'yicha filter)",
                "operationId": "d69c8e111cec8c0f7682e0cc23c0f54a",
                "parameters": [
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "Faqat shu kategoriyaga tegishli subkategoriyalar uchun",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subkategoriyalar ro'yxati"
                    }
                }
            }
        },
        "/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "summary": "O'zi haqida ma'lumot",
                "operationId": "1a4b846fd60226473a8cb32221eea509",
                "responses": {
                    "200": {
                        "description": "Profile ma'lumotlari"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Profile"
                ],
                "summary": "Profilni yangilash",
                "operationId": "98ce02c235e928fb6e62f79588f43b8d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "fname": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "lname": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "email": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "telegram": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "region_id": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "city_id": {
                                        "type": "integer",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profil yangilandi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/profile/avatar": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Avatarni yangilash",
                "operationId": "2d4eed24e158145be34c7b904528643a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "avatar"
                                ],
                                "properties": {
                                    "avatar": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Avatar yangilandi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/profile/password": {
            "put": {
                "tags": [
                    "Profile"
                ],
                "summary": "Parolni o'zgartirish",
                "operationId": "0834424c823108fb3c039e5f3509a420",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "current_password",
                                    "new_password",
                                    "new_password_confirmation"
                                ],
                                "properties": {
                                    "current_password": {
                                        "type": "string"
                                    },
                                    "new_password": {
                                        "type": "string"
                                    },
                                    "new_password_confirmation": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Parol muvaffaqiyatli o'zgartirildi"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validatsiya/parol mos kelmadi"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Resources",
            "description": "Viloyat va tumanlar resurslari"
        },
        {
            "name": "Profile",
            "description": "Autentifikatsiyalangan foydalanuvchi profili"
        },
        {
            "name": "Ads",
            "description": "Ads"
        },
        {
            "name": "Auth",
            "description": "Auth"
        }
    ]
}